
.mayash-landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .mdl-card {
    width: 99%;
    height: 350px;
    margin: 5px;
  }

  .mayash-introduction {
    .mdl-card__title {
      color: #fff;
      height: 70%;
      background: url('https://storage.googleapis.com/mayash/website/banner-1.gif') center / cover;
    }
  }

  .mayash-motivation {
    .mdl-card__title {
      color: #fff;
      height: 70%;
      background: url('https://storage.googleapis.com/mayash/website/Mayash%20Motivation%20(1).jpg') center / cover;
    }
  }

  .mayash-product-and-services {
    .mdl-card__title {
      color: #fff;
      height: 70%;
      background: url('https://storage.googleapis.com/mayash/website/Mayash-product-and-services.jpg') center / cover;
    }
  }

  .mayash-sponsors {
    .mdl-card__title {
      color: #fff;
      height: 70%;
      background: url('https://storage.googleapis.com/mayash/website/mayash-sponsors.jpg') center / cover;
    }
  }

  .mayash-team {
    .mdl-card__title {
      color: #fff;
      height: 70%;
      background: url('https://storage.googleapis.com/mayash/website/mayash-team.jpg') center / cover;
    }
  }

  .mayash-customer-reviews {
    .mdl-card__title {
      color: #000;
      height: 70%;
      background: url('https://storage.googleapis.com/mayash/website/mayash-customer-reviews.jpg') center / cover;
    }
  }
}
