{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "plugins": [
    "jsx-a11y",
    "react"
  ],
  "rules": {
    "newline-per-chained-call": "warn",
    "consistent-return": "warn",
    "no-console": "warn",
    "import/prefer-default-export": "warn",
    "brace-style": [2, "stroustrup"],
    "no-shadow": [
      "error",
      {
        "builtinGlobals": false,
        "hoist": "functions",
        "allow": []
      }
    ],
    "react/jsx-filename-extension": "off",
    "global-require": "off",
    "no-underscore-dangle": "off",
    "prop-types": [
      "warn"
    ],
    "react/forbid-prop-types": [
      "warn",
      {
        "forbid": [
          "any",
          "object",
          "array"
        ]
      }
    ],
    "no-unknown-property": [
      "warn",
      {
        "ignore": []
      }
    ],
    "class-methods-use-this": [
      "error",
      {
        "exceptMethods": []
      }
    ],
    "jsx-a11y/no-static-element-interactions": [
      "warn"
    ],
    "radix": ["error", "always"],
    "react/no-string-refs": "warn"
  }
}