
.mayash-article.mdl-card {
  width: 100%;
}

.mayash-article {
  .mdl-card__title {
    min-height: 200px;

    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;

    background: {
      image: url('https://getmdl.io/assets/demos/welcome_card.jpg');
      repeat: no-repeat;
    };
  }
}
