$font-stack: Helvetica, sans-serif;

$theme-color: #F05F40;

$orange-base:    #FFA500;
$orange-darker:  lighten($orange-base, 13.5%); // #222
$orange-dark:    lighten($orange-base, 20%);   // #333
$orange:         lighten($orange-base, 33.5%); // #555
$orange-light:   lighten($orange-base, 46.7%); // #777
$orange-lighter: lighten($orange-base, 93.5%); // #eee

$gray-base:        #000;
$gray-darker:      lighten($gray-base, 13.5%); // #222
$gray-dark:        lighten($gray-base, 20%);   // #333
$gray:             lighten($gray-base, 33.5%); // #555
$gray-light:       lighten($gray-base, 46.7%); // #777
$gray-lighter:     lighten($gray-base, 93.5%); // #eee

$body-background-color: rgba(235, 235, 235, 0.53);

body {
  overflow-x: hidden;
}

.landing-page {
  height: 100%;
  width: 100%;
  padding: 1%;

  hr {
    border: {
      color: $theme-color;
      width: 3px;
    };
    max-width   : 100px;
  }

  hr.light {
    border-color: white;
  }

  .head {
    background: {
      image   : url("https://s3-ap-southeast-1.amazonaws.com/mayash/web-contents/banner-1.gif");
      size    : cover;
      repeat  : no-repeat;
      position: center;
    }
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: 1px;

    .head-container {
      height: 100%;
      width : 100%;
      background-color: rgba(94, 94, 94, 0.49);

      .head-tagline {
        height    : 100%;
        width     : 100%;
        text-align: center;
        padding   : 1%;
        position  : relative;
        top       : 30%;

        h1 {
          color: #fff;
          font-size: 6em;
          padding: 2px;
        }
        h4 {
          color: #fff;
          font-size: 2em;
          padding:2px;
          position: relative;
          left: 10%;
        }
      }
    }
  }

  .introduction {
    width : 100%;
    padding: 1px;

    .introduction-header {
      text-align: center;
    }
    .introduction-body {

    }
  }


  .motivation {
    width: 100%;
    padding: 1px;

    .motivation-header {
      text-align: center;
    }

  }

  .about-us {
    width: 100%;
    padding: 1px;

    .about-us-header {
      text-align: center;
    }
  }

  .product-services {
    width : 100%;
    padding: 1px;

    .product-services-header {
      text-align: center;
    }

    .product-services-body {
      div {
        text-align: center;

        span {
          font-size: 40px;
          color: $theme-color;
        }
      }
    }

    .product-services-footer {

    }
  }

  .team {
    width : 100%;
    padding: {
      top: 1px;
      bottom: 1px;
    };

    .team-header {
      text-align: center;
    }

    .team-body {
      text-align: center;
    }

    .team-footer {

    }
  }

}
