<!DOCTYPE html>
<html>
<head>
    {{#if PRODUCTION}}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-7913833609955757",
            enable_page_level_ads: true
        });
    </script>
    {{/if}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{title}}</title>

    <!-- Add to homescreen -->
    <!--<link rel="manifest" href="manifest.json">-->

    <!-- Fallback to homescreen for Chrome <39 on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Mayash">
    <!--<link rel="icon" sizes="192x192" href="../assets/android-desktop.png">-->

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Mayash">
    <!--<link rel="apple-touch-icon" href="../assets/ios-desktop.png">-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!--<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>-->
</head>
<body>
    <div id="app">{{{app}}}</div>

    <script>
        window.__INITIAL_STATE__ = {{{initialState}}};
    </script>
    {{#if PRODUCTION}}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-78687441-2', 'auto');
        ga('send', 'pageview');
    </script>
    {{/if}}
</body>
</html>
