
.profile-info.mdl-card {
  width: 100%;
}

.profile-info {
  width: 100%;
  text-align: center;

  img {
    width: 100%;
    height: 50%;
  }

  .mdl-card__title {
    flex-direction: column;
    padding: {
      top: 3%;
      bottom: 1%;
    };

    .mdl-card__title-text {
      font-size: 120%;
      font-weight: bold;
      align-self: center;
    }

    .mdl-card__subtitle-text {
      font-size: 100%;
    }
  }
}
