
.mayash-layout {
          background-size: cover;
       -o-background-size: cover;
     -moz-background-size: cover;
  -webkit-background-size: cover;

  background: {
    image: url("https://storage.googleapis.com/mayash/website/banner-1.gif");
    repeat: no-repeat;
    attachment: fixed;
    position: center center;
  };
}
